<h1>Add a New Worker</h1>

<%= form_for @worker,:url => { :action => "create" } do |f| %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :surname %><br />
      <%= f.text_field :surname %>
    </p>
    <p>
      <%= f.label :fathername %><br />
      <%= f.text_field :fathername %>
    </p>
<p>
<%= f.submit "ADD NEW WORKER" %><br />
</p>
<% end %>
